<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tender_root" name="Tenders" sequence="35"
              web_icon="tender_management,static/description/icon.png"
              groups="tender_management.group_tender_user"/>
    <menuitem id="menu_tender_dashboard" name="Dashboard" parent="menu_tender_root"
              action="tm_dashboard_action" sequence="5"/>
    <menuitem id="menu_tender_tenders" name="Tenders" parent="menu_tender_root"
              action="tm_tender_action" sequence="10"/>
    <menuitem id="menu_tender_reports" name="Reports" parent="menu_tender_root" sequence="50"/>
    <menuitem id="menu_tender_report_summary" name="Tenders Report" parent="menu_tender_reports"
              action="tm_tender_report_wizard_action" sequence="10"/>
    <menuitem id="menu_tender_report_products" name="Product Analysis" parent="menu_tender_reports"
              action="tm_tender_line_action" sequence="20"/>
    <menuitem id="menu_tender_config" name="Configuration" parent="menu_tender_root" sequence="90"
              groups="tender_management.group_tender_manager"/>
    <menuitem id="menu_tender_config_settings" name="Settings" parent="menu_tender_config"
              action="tm_config_settings_action" sequence="10"/>
    <menuitem id="menu_tender_config_stages" name="Stages" parent="menu_tender_config"
              action="tm_tender_stage_action" sequence="20"/>
    <menuitem id="menu_tender_config_lost_reasons" name="Lost Reasons" parent="menu_tender_config"
              action="tm_lost_reason_action" sequence="30"/>
    <menuitem id="menu_tender_config_tags" name="Tags" parent="menu_tender_config"
              action="tm_tag_action" sequence="40"/>
</odoo>
